.sort__button_active {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 30px;
  background-color: #000000;
  border: 2px solid #30D5C8;
  color: #30D5C8;
  text-decoration: none;
  text-align: center;
  align-self: center;
  line-height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .sort__button_active {
    width: 80px;
  }
}