.sort {
  width: 400px;
  margin: 0 auto;
  padding: 0 0 20px;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 450px) {
  .sort {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .sort {
    width: 282px;
  }
}